@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans Thai";
  src: url("../app/fonts/Noto_Sans_Thai/static/NotoSansThai_Condensed-Thin.ttf");
}

@font-face {
  font-family: "Noto Sans Thai";
  src: url("../app/fonts/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth\,wght.ttf");
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
